{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add New Reservation Status{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="status">Status</label>
    <input name="status" id="status" value="{{ request.form['status'] }}" required>
    <label for="description">Description</label>
    <input name="description" id="description" value="{{ request.form['description'] }}">

    <input type="submit" value="Save">
    <a class="action" href="{{ url_for('reservation_status.index') }}">Cancel</a>
</form>
{% endblock %}