# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.vscode

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/


# Other development files
reservation_system/static/admin/plugins/moment/locale/af.js
reservation_system/static/admin/plugins/moment/locale/ar-dz.js
reservation_system/static/admin/plugins/moment/locale/ar-kw.js
reservation_system/static/admin/plugins/moment/locale/ar-ly.js
reservation_system/static/admin/plugins/moment/locale/ar-ma.js
reservation_system/static/admin/plugins/moment/locale/ar-sa.js
reservation_system/static/admin/plugins/moment/locale/ar-tn.js
reservation_system/static/admin/plugins/moment/locale/ar.js
reservation_system/static/admin/plugins/moment/locale/az.js
reservation_system/static/admin/plugins/moment/locale/be.js
reservation_system/static/admin/plugins/moment/locale/bg.js
reservation_system/static/admin/plugins/moment/locale/bm.js
reservation_system/static/admin/plugins/moment/locale/bn-bd.js
reservation_system/static/admin/plugins/moment/locale/bn.js
reservation_system/static/admin/plugins/moment/locale/bo.js
reservation_system/static/admin/plugins/moment/locale/br.js
reservation_system/static/admin/plugins/moment/locale/bs.js
reservation_system/static/admin/plugins/moment/locale/ca.js
reservation_system/static/admin/plugins/moment/locale/cs.js
reservation_system/static/admin/plugins/moment/locale/cv.js
reservation_system/static/admin/plugins/moment/locale/cy.js
reservation_system/static/admin/plugins/moment/locale/da.js
reservation_system/static/admin/plugins/moment/locale/de-at.js
reservation_system/static/admin/plugins/moment/locale/de-ch.js
reservation_system/static/admin/plugins/moment/locale/de.js
reservation_system/static/admin/plugins/moment/locale/dv.js
reservation_system/static/admin/plugins/moment/locale/el.js
reservation_system/static/admin/plugins/moment/locale/en-au.js
reservation_system/static/admin/plugins/moment/locale/en-ca.js
reservation_system/static/admin/plugins/moment/locale/en-gb.js
reservation_system/static/admin/plugins/moment/locale/en-ie.js
reservation_system/static/admin/plugins/moment/locale/en-il.js
reservation_system/static/admin/plugins/moment/locale/en-in.js
reservation_system/static/admin/plugins/moment/locale/en-nz.js
reservation_system/static/admin/plugins/moment/locale/en-SG.js
reservation_system/static/admin/plugins/moment/locale/eo.js
reservation_system/static/admin/plugins/moment/locale/es-do.js
reservation_system/static/admin/plugins/moment/locale/es-mx.js
reservation_system/static/admin/plugins/moment/locale/es-us.js
reservation_system/static/admin/plugins/moment/locale/es.js
reservation_system/static/admin/plugins/moment/locale/et.js
reservation_system/static/admin/plugins/moment/locale/eu.js
reservation_system/static/admin/plugins/moment/locale/fa.js
reservation_system/static/admin/plugins/moment/locale/fi.js
reservation_system/static/admin/plugins/moment/locale/fil.js
reservation_system/static/admin/plugins/moment/locale/fo.js
reservation_system/static/admin/plugins/moment/locale/fr-ca.js
reservation_system/static/admin/plugins/moment/locale/fr-ch.js
reservation_system/static/admin/plugins/moment/locale/fr.js
reservation_system/static/admin/plugins/moment/locale/fy.js
reservation_system/static/admin/plugins/moment/locale/ga.js
reservation_system/static/admin/plugins/moment/locale/gd.js
reservation_system/static/admin/plugins/moment/locale/gl.js
reservation_system/static/admin/plugins/moment/locale/gom-deva.js
reservation_system/static/admin/plugins/moment/locale/gom-latn.js
reservation_system/static/admin/plugins/moment/locale/gu.js
reservation_system/static/admin/plugins/moment/locale/he.js
reservation_system/static/admin/plugins/moment/locale/hi.js
reservation_system/static/admin/plugins/moment/locale/hr.js
reservation_system/static/admin/plugins/moment/locale/hu.js
reservation_system/static/admin/plugins/moment/locale/hy-am.js
reservation_system/static/admin/plugins/moment/locale/id.js
reservation_system/static/admin/plugins/moment/locale/is.js
reservation_system/static/admin/plugins/moment/locale/it-ch.js
reservation_system/static/admin/plugins/moment/locale/it.js
reservation_system/static/admin/plugins/moment/locale/ja.js
reservation_system/static/admin/plugins/moment/locale/jv.js
reservation_system/static/admin/plugins/moment/locale/ka.js
reservation_system/static/admin/plugins/moment/locale/kk.js
reservation_system/static/admin/plugins/moment/locale/km.js
reservation_system/static/admin/plugins/moment/locale/kn.js
reservation_system/static/admin/plugins/moment/locale/ko.js
reservation_system/static/admin/plugins/moment/locale/ku.js
reservation_system/static/admin/plugins/moment/locale/ky.js
reservation_system/static/admin/plugins/moment/locale/lb.js
reservation_system/static/admin/plugins/moment/locale/lo.js
reservation_system/static/admin/plugins/moment/locale/lt.js
reservation_system/static/admin/plugins/moment/locale/lv.js
reservation_system/static/admin/plugins/moment/locale/me.js
reservation_system/static/admin/plugins/moment/locale/mi.js
reservation_system/static/admin/plugins/moment/locale/mk.js
reservation_system/static/admin/plugins/moment/locale/ml.js
reservation_system/static/admin/plugins/moment/locale/mn.js
reservation_system/static/admin/plugins/moment/locale/mr.js
reservation_system/static/admin/plugins/moment/locale/ms-my.js
reservation_system/static/admin/plugins/moment/locale/ms.js
reservation_system/static/admin/plugins/moment/locale/mt.js
reservation_system/static/admin/plugins/moment/locale/my.js
reservation_system/static/admin/plugins/moment/locale/nb.js
reservation_system/static/admin/plugins/moment/locale/ne.js
reservation_system/static/admin/plugins/moment/locale/nl-be.js
reservation_system/static/admin/plugins/moment/locale/nl.js
reservation_system/static/admin/plugins/moment/locale/nn.js
reservation_system/static/admin/plugins/moment/locale/oc-lnc.js
reservation_system/static/admin/plugins/moment/locale/pa-in.js
reservation_system/static/admin/plugins/moment/locale/pl.js
reservation_system/static/admin/plugins/moment/locale/pt-br.js
reservation_system/static/admin/plugins/moment/locale/pt.js
reservation_system/static/admin/plugins/moment/locale/ro.js
reservation_system/static/admin/plugins/moment/locale/ru.js
reservation_system/static/admin/plugins/moment/locale/sd.js
reservation_system/static/admin/plugins/moment/locale/se.js
reservation_system/static/admin/plugins/moment/locale/si.js
reservation_system/static/admin/plugins/moment/locale/sk.js
reservation_system/static/admin/plugins/moment/locale/sl.js
reservation_system/static/admin/plugins/moment/locale/sq.js
reservation_system/static/admin/plugins/moment/locale/sr-cyrl.js
reservation_system/static/admin/plugins/moment/locale/sr.js
reservation_system/static/admin/plugins/moment/locale/ss.js
reservation_system/static/admin/plugins/moment/locale/sv.js
reservation_system/static/admin/plugins/moment/locale/sw.js
reservation_system/static/admin/plugins/moment/locale/ta.js
reservation_system/static/admin/plugins/moment/locale/te.js
reservation_system/static/admin/plugins/moment/locale/tet.js
reservation_system/static/admin/plugins/moment/locale/tg.js
reservation_system/static/admin/plugins/moment/locale/th.js
reservation_system/static/admin/plugins/moment/locale/tk.js
reservation_system/static/admin/plugins/moment/locale/tl-ph.js
reservation_system/static/admin/plugins/moment/locale/tlh.js
reservation_system/static/admin/plugins/moment/locale/tr.js
reservation_system/static/admin/plugins/moment/locale/tzl.js
reservation_system/static/admin/plugins/moment/locale/tzm-latn.js
reservation_system/static/admin/plugins/moment/locale/tzm.js
reservation_system/static/admin/plugins/moment/locale/ug-cn.js
reservation_system/static/admin/plugins/moment/locale/uk.js
reservation_system/static/admin/plugins/moment/locale/ur.js
reservation_system/static/admin/plugins/moment/locale/uz-latn.js
reservation_system/static/admin/plugins/moment/locale/uz.js
reservation_system/static/admin/plugins/moment/locale/vi.js
reservation_system/static/admin/plugins/moment/locale/x-pseudo.js
reservation_system/static/admin/plugins/moment/locale/yo.js
reservation_system/static/admin/plugins/moment/locale/zh-cn.js
reservation_system/static/admin/plugins/moment/locale/zh-hk.js
reservation_system/static/admin/plugins/moment/locale/zh-mo.js
reservation_system/static/admin/plugins/moment/locale/zh-tw.js
reservation_system/static/admin/plugins/moment/locales.js
reservation_system/static/admin/plugins/moment/locales.min.js
reservation_system/static/admin/plugins/moment/locales.min.js.map
reservation_system/static/img/hotel_rooms/test.jpg
