{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Reservation{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="start_date">Check-In</label>
    <input type="date" name="start_date" id="start_date" value="{{ request.form['start_date'] or reservation['start_date'] }}" required>
    <label for="end_date">Check-Out</label>
    <input type="date" name="end_date" id="end_date" value="{{ request.form['end_date'] or reservation['end_date'] }}" required>
    <label for="room_id">Select Room</label>
    <select name="room_id" id="room_id" required>
      {% for room in rooms %}
        {% if room['id'] == reservation['room_id'] %}
      <option selected value="{{ room['id'] }}">Room {{ room['room_number'] }} - {{ room['type_name'] }}</option>
        {% else %}
      <option value="{{ room['id'] }}">Room {{ room['room_number'] }} - {{ room['type_name'] }}</option>
        {% endif %}
      {% endfor %}
    </select>    
    <label for="guest_id">Select Guest</label>
    <select name="guest_id" id="guest_id" required>
      {% for guest in guests %}
        {% if guest['id'] == reservation['guest_id'] %}
      <option selected value="{{ guest['id'] }}">{{ guest['name'] }}: {{ guest['address_1'] }}</option>
        {% else %}
      <option value="{{ guest['id'] }}">{{ guest['name'] }}: {{ guest['address_1'] }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <label for="number_of_guests">Number of Guests</label>
    <input type="number" name="number_of_guests" id="number_of_guests" value="{{ request.form['number_of_guests'] or reservation['number_of_guests'] }}" required>
    <label for="status">Status</label>
    <select name="status_id" id="status_id" required>
      {% for status in res_status %}
        {% if status['id'] == reservation['status_id'] %}
      <option selected value="{{ status['id'] }}">{{ status['status'] }}</option>
        {% else %}
      <option value="{{ status['id'] }}">{{ status['status'] }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <label for="notes">Notes</label>
    <textarea name="reservation_notes" id="notes">{{ request.form['reservation_notes'] or reservation['reservation_notes'] }}</textarea>
    
    <input type="submit" value="Save">
    <a class="action" href="{{ url_for('reservations.index') }}">Cancel</a>
</form>
<hr>
<form action="{{ url_for('reservations.delete', id=reservation['id']) }}" method="post">
  <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
{% endblock %}