{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Menu{% endblock %}</h1>

{% endblock %}

{% block content %}
  <ul>
    {% if g.user %}
    <li><a href="{{ url_for('guests.index') }}">View Guests</a></li>
    <ul><li><a href="{{ url_for('guests.create') }}">Create New Guest</a></li></ul>

    <li><a href="">View Room Types</a></li>
    <ul><li><a href="">Create New Room Type</a></li></ul>

    <li><a href="">View Rooms</a></li>
    <ul><li><a href="">Create New Room</a></li></ul>

    <li><a href="">View Reservations</a></li>
    <ul><li><a href="">Create New Reservation</a></li></ul>
    
    {% else %}
    <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
{% endblock %}