{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Room{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="room_number">Room Number</label>
    <input name="room_number" id="room_number" value="{{ request.form['room_number'] or room['room_number']  }}" required>
    <label for="room_type">Room type</label>
    <select name="room_type" id="room_type" required>
      {% for type in room_types %}
        {% if type['id'] == room['room_type'] %}
      <option selected value="{{ type['id'] }}">{{ type['type_name'] }}</option>
        {% else %}
      <option value="{{ type['id'] }}">{{ type['type_name'] }}</option>
        {% endif %}
      {% endfor %}
    </select>
    
    <input type="submit" value="Save">
    <a class="action" href="{{ url_for('rooms.index') }}">Cancel</a>
</form>
<hr>
<form action="{{ url_for('rooms.delete', id=room['id']) }}" method="post">
  <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
{% endblock %}