{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Room Types{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('room_types.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
<table>
    <tr>
        <th>Photo</th>
        <th>Room Type</th>
        <th>Base Price</th>
        <th>Amenities</th>
        <th>Max. Occ.</th>
        <th>Last modified</th>
        <th>Action</th>
    </tr>
  {% for room_type in room_types %}
    <tr>
        <th>
          <img src="{{ url_for('static', filename=room_type['photo']) }}"
          style="width: 100px;">
        </th>
        <th>
          {{ room_type['type_name'] }}
        </th>
        <td>{{ room_type['base_price_per_night'] }}</td>
        <td>{{ room_type['amenities'] }}</td>
        <td>{{ room_type['max_occupants'] }}</td>
        <td>{{ room_type['modified'].strftime('%Y-%m-%d %H:%M') }} by {{ room_type['username'] }}</td>
        <td><a class="action" href="{{ url_for('room_types.update', id=room_type['id']) }}">Edit</a></td>
    </tr>
  {% endfor %}
</table>  
{% endblock %}